<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UPx Bus</title>
        <link rel="stylesheet" href="/public/style/style.css">
        <script src=""></script>
    </head>
    <body>

        <header>
            <div class="nav-bar">
                <ul>
                    <li><a href="http://127.0.0.1:5500/login.html" target="_blank">Home</a></li>
                    <li><a href="http://127.0.0.1:5500/about.html" target="_blank">Sobre nós</a></li>
                    <li><a href="http://127.0.0.1:5500/knowing.html" target="_blank">Conheça o Sistema</a></li>
                    <li><a href="http://127.0.0.1:5500/contact.html" target="_blank">Fale Conosco</a></li>
                </ul>
            </div>
        </header>

        <section class="side-menu">
            <div class="side-tabs ">
                <img class="side-logo" src="img/facensLogo.png" alt="Centro Universitário Facens">
                <button class="tab-btn tab-btn-active" tab-value="1">Dashboard</button>
                <button class="tab-btn" tab-value="2">Relatórios</button>
                <button class="tab-btn" tab-value="3">Configurações</button>
                <button class="tab-btn" tab-value="4">Ajuda</button>
            </div>

            <div class="tab-content" content-value="2">
                <section class="tab-description">
                    <h2>RELATÓRIOS</h2>
                    <p>Escolha o modelo de relatório que desja gerar</p>
                </section>

                <section class="content-panel">
                    
                    <div class="form-content">
                        <a href="">Diário</a>
                    </div>
                    <div class="form-content">
                        <a href="">Semanal</a>
                    </div>
                    <div class="form-content">
                        <a href="">Mensal</a>
                    </div>
                    <div class="form-content">
                        <a href="">Plataforma</a>
                    </div>
                </section>
            </div>
        </section>
    </body>
    <script>

    </script>

</html>
